*{
box-sizing: border-box;
}
.container{
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: 200px;
    
}
.move{
    font-size: 30px;
}
.pic{
    margin-right: 30px;
    border-radius: 25%;
    transform: translateY(-30%);
}
.form-box{
    text-align: center;
    display: flex;
    justify-content: center;

}
.move{
    color: tomato;
}
.form{
   margin-right: 20px;
    
}
.result{
    color: tomato;
}